{% extends "base_generic.html" %}

{% block title %}
    <title>Home page</title>
{% endblock %}
{% block content %}
<h1>Local library Home</h1>
<p>Welcome to <em>Local Library</em>, a very basic Django website developed as as tutorial example.</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong>{{ num_books }}</li>
    <li><strong>Copies:</strong>{{ num_instances }}</li>
    <li><strong>Copies available:</strong>{{ num_instances_available }}</li>
    <li><strong>Authors:</strong>{{ num_authors }}</li>
    <li><strong>Genres:</strong>{{ num_genre }}</li>
    <li><strong>Books about spider:</strong>{{ num_books_spider }}</li>
</ul>
{% endblock %}